.links {
    font-size: larger;
    display: flex;
}

.links a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    padding-bottom: 4px;
    transition: transform 0.5s;
    margin: 0vh 1.5vh;
}
/* 
.nav-link{
    transition: all 0.5s;
}

.nav-link:hover {
    transform: scale(1.1);
} */

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.8px;
    background: linear-gradient(45deg, white 40%, gray, black);
    transition: width 0.3s ease-in-out;
}

.links a:hover {
    transform: scale(1.1);
}

.links a:hover::after {
    width: 100%;
}

svg {
    margin-right: 1.2vh;
    transition: transform 0.5s;
}

@keyframes logo {
    from {
        transform: scale(1);
        transform: rotate(0deg);
    }
    to {
        transform: scale(1.03);
        transform: rotate(30deg);
    }
}
@keyframes logo1 {
    from {
        transform: scale(1.03);
        transform: rotate(30deg);
    }
    to {
        transform: scale(1);
        transform: rotate(0deg);
    }
}

svg:hover {
    animation-name: logo;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

svg::after {
    animation-name: logo1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}