.navbar {
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.253);
}

.links {
    font-size: larger;
    display: flex;
}

.links a {
    position: relative;
    text-decoration: none;
    color: #333;
    font-weight: 400;
    padding-bottom: 4px;
    transition: transform 0.5s;
    margin: 0vh 1.5vh;
}

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1.8px;
    background: linear-gradient(45deg, white 40%, gray, black);
    transition: all 0.3s ease-in-out;
}

.links span {
    transition: all 0.3s ease-in-out;
}

.links span:hover {
    transform: scale(1.1);
    padding: 0.3vh;
    animation-name: box;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.links a:hover::after {
    width: 100%;
}

@keyframes box {
    from {
        border: 1px solid transparent;
        background-color: transparent;
        border-radius: 10px;
    }
    to {
        border: 1px solid red;
        border-radius: 10px;
        background-color: rgba(49, 46, 46, 0.404);
    }
}

svg {
    margin-right: 1.2vh;
    transition: transform 0.5s;
}

@keyframes logo {
    from {
        transform: scale(1);
        transform: rotate(0deg);
    }
    to {
        transform: scale(1.03);
        transform: rotate(30deg);
    }
}
@keyframes logo1 {
    from {
        transform: scale(1.03);
        transform: rotate(30deg);
    }
    to {
        transform: scale(1);
        transform: rotate(0deg);
    }
}

svg:hover {
    animation-name: logo;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

svg::after {
    animation-name: logo1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}